/*
    Frank Hattler
    Comp 20
    Assignment 1
*/

body {
    background-color: black;
    font-size: 28px;
    font-family: Helvetica;
    color: white;
    text-align: left;
}

a:link{
    font-size: 16px;
    color: white;
    text-decoration: underline;

}
a:visited{
    font-size: 16px;
    color: white;
    text-decoration: underline;

}


h1 {
    text-align: center;
    color: blue;
}

p {
    margin-left: 10%;
    margin-right: 10%;
    padding: 10px;
    color: white
}